# Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [123]:
import pandas as pd
ratings = pd.read_csv('ratings.csv')
#ratings.head()
rate = [5.0]
result = ratings [
    ratings['rating'].isin(rate)]
#result.sort_values('movieId')
result.groupby('movieId').count().head(1)

         userId  rating  timestamp
movieId
1            47      47         47

In [134]:
import pandas as pd
ratings = pd.read_csv('ratings.csv')
ratings[['movieId', 'rating']][ratings['rating'].isin(['5.0'])].groupby('movieId').count().head(1)

         rating
movieId
1            47

# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [140]:
import pandas as pd
power = pd.read_csv('power.csv')
baltic_countries = ['Latvia','Estonia','Lithuania']
category = [4, 12, 21]
years = range(2005, 2011)
result = power [
    power['country'].isin(baltic_countries) &
    power['category'].isin(category) &
    power['year'].isin(years) &
    power['quantity'] > 0
]
#result[['country','quantity']].groupby('country').sum()
result[['quantity']].sum()

quantity    240481.0
dtype: float64

# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [151]:
data = pd.read_html('https://ratestats.com/')[0]
data

,Код,Валюта,Курс,Номинал,Изменение
0,AUD,Австралийский доллар,443174,за 1,-05796
1,AZN,Азербайджанский манат,380024,за 1,-04243
2,AMD,Армянский драм,135188,за 100,-01696
3,BYN,Белорусский рубль,314432,за 1,-00333
4,BGN,Болгарский лев,365193,за 1,-02390
5,BRL,Бразильский реал,158788,за 1,-01473
6,GBP,Британский фунт стерлинговФунт стерлингов,799055,за 1,-04749
7,HUF,Венгерский форинт,214764,за 100,-02181
8,DKK,Датская крона,956701,за 10,-06778
9,USD,Доллар США,644711,за 1,-07198
10,EUR,Евро,715307,за 1,-02966
11,INR,Индийская рупия,907469,за 100,-06657
12,ISK,Исландская крона,241259,за 100,"+0,0739"
13,KZT,Казахстанский тенге,166693,за 100,-01705
14,CAD,Канадский доллар,487494,за 1,-07051
15,KGS,Киргизский сом,921016,за 100,-10283
16,CNY,Китайский юань,910686,за 10,-08972
17,MDL,Молдавский лей,363217,за 10,-05718
18,NOK,Норвежская крона,719672,за 10,-08832
19,PLN,Польский злотый,164564,за 1,-01164
20,RON,Румынский лей,150795,за 1,-00925
21,SGD,Сингапурский доллар,469324,за 1,-04688
22,XDR,Специальные права заимствованияСДР,882435,за 1,-09350
23,TJS,Таджикский сомони,665508,за 10,-07430
24,TRY,Турецкая лира,113543,за 1,"+0,0187"
25,TMT,Туркменский манат,184467,за 1,-02059
26,UZS,Узбекский сум,685863,за 10 000,-07657
27,UAH,Украинская гривна,261011,за 10,-01406
28,CZK,Чешская крона,276238,за 10,-01584
29,SEK,Шведская крона,671763,за 10,-03615
30,CHF,Швейцарский франк,651882,за 1,-06479
31,ZAR,Южноафриканский ранд,443000,за 10,-03415
32,KRW,Южнокорейская вона,547079,за 1 000,-04489
33,JPY,Японская иена,596927,за 100,-07448